* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
}
ul, li{
    list-style: none;
}
h1 {
    color: #000;
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 400px;
}
.busca .searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    font-size: 15px;
    margin-left: 10px;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 300px;
    display: none;
    border: 1px dotted #000;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
    width: 100%;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .descri {
    max-height: 90px;
    padding: 5px;
}
.info .vento {
    flex: 1;
    text-align: center;
    max-height: 70px;
    padding: 5px;
}
.tempTitulo,
.tempTituloDescrip,
.ventoTitulo {
    color: rgb(53, 53, 53);
    font-size: 16px;
    margin-bottom: 5px;
}
.column1{
    display: flex;
    flex-direction: column;
}
.tempoInfoDescrip{
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
}
.tempTituloDescrip{
    margin-bottom: 0;
}
.case{
    margin: 5px;
}
.tempInfo,
.tempoInfoDescrip,
.ventoInfo {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    color: #fff;
    max-width: 400px;
    line-height: 20px;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.192);
}

/* BOTÃO */
.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.4em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}
   
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}
   
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
   
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}
   
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
   
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
/* MEDIAS */
@media (max-width: 430px){
    .busca{
        max-width: 260px;
        flex-direction: column;
    }
    .busca button{
        display: flex;
        align-self: center;
        margin-top: 5px;
        margin-left: 0;
        
        max-width: 115px;
    }
}

.sugestoes{
    vertical-align: baseline;

}
li{
    margin-top: 7px;
    margin-bottom: 5px;
    
}
